<a href="https://colab.research.google.com/github/SHermukhammadjon/Data_Science_Zero_to_Mastery/blob/main/scikit_learn3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Maschine Learning Loyiha qadamalri
(3-notebook)

<img src="https://drive.google.com/uc?id=1ZKgMJ92OMgfBHsvQmFmNhXw5aM9P9vXu">

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [13]:
dataset = pd.read_csv("https://github.com/ageron/handson-ml2/blob/master/datasets/housing/housing.csv?raw=true")

Y = dataset['median_house_value']
X = dataset.drop('median_house_value', axis = 1)

In [21]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 31)

In [22]:
x_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
7083,-118.01,33.93,31.0,3395.0,742.0,1886.0,737.0,4.4118,<1H OCEAN
747,-122.09,37.66,40.0,1340.0,313.0,766.0,271.0,3.4722,NEAR BAY
19922,-119.35,36.32,10.0,3817.0,719.0,1686.0,714.0,3.8235,INLAND
449,-122.28,37.87,46.0,1777.0,446.0,805.0,431.0,2.8676,NEAR BAY
11808,-121.11,38.91,24.0,2558.0,423.0,1149.0,403.0,4.0679,INLAND
...,...,...,...,...,...,...,...,...,...
604,-122.08,37.69,36.0,2350.0,499.0,1105.0,467.0,3.3021,NEAR BAY
28,-122.28,37.84,50.0,2082.0,492.0,1131.0,473.0,1.6424,NEAR BAY
826,-122.09,37.63,36.0,1570.0,274.0,992.0,249.0,5.3644,NEAR BAY
3735,-118.40,34.19,35.0,1631.0,356.0,862.0,368.0,3.6007,<1H OCEAN
14946,-116.98,32.72,15.0,4209.0,680.0,1914.0,641.0,4.5135,<1H OCEAN

In [23]:
x_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
15430,-117.24,33.20,25.0,1631.0,415.0,1045.0,386.0,2.4505,<1H OCEAN
10950,-117.86,33.75,39.0,275.0,87.0,554.0,103.0,3.5972,<1H OCEAN
14574,-117.22,32.82,22.0,3738.0,795.0,1476.0,728.0,3.7963,NEAR OCEAN
9603,-120.49,37.30,50.0,985.0,309.0,621.0,250.0,1.3125,INLAND
6005,-117.77,34.07,29.0,2976.0,662.0,2452.0,633.0,3.0638,INLAND
...,...,...,...,...,...,...,...,...,...
4893,-118.25,34.02,32.0,1311.0,410.0,1792.0,396.0,2.3304,<1H OCEAN
7691,-118.11,33.95,34.0,2319.0,334.0,941.0,356.0,6.4319,<1H OCEAN
11863,-121.24,40.31,36.0,1597.0,301.0,632.0,262.0,3.5962,INLAND
17470,-119.81,34.47,26.0,4382.0,618.0,1728.0,587.0,7.4734,NEAR OCEAN
9502,-123.54,39.17,18.0,2251.0,510.0,1032.0,369.0,2.2946,<1H OCEAN

In [24]:
y_train

7083     174400.0
747      135400.0
19922     94600.0
449      212000.0
11808    190500.0
           ...
604      195700.0
28       108900.0
826      168800.0
3735     261800.0
14946    158300.0
Name: median_house_value, Length: 16512, dtype: float64

In [25]:
y_test

15430    147500.0
10950    158000.0
14574    303100.0
9603      60900.0
6005     113600.0
           ...
4893     119900.0
7691     452300.0
11863     93600.0
17470    432200.0
9502     101000.0
Name: median_house_value, Length: 4128, dtype: float64

In [28]:
from sklearn.base import BaseEstimator, TransformerMixin
rooms_ix, bedrooms_ix, population_ix, households_ix = 3, 4, 5, 6

In [29]:
class CombineAttributesAdder(BaseEstimator, TransformerMixin):
  def __init__(self, add_bedrooms_per_room = False):
    self.add_bedrooms_per_room = add_bedrooms_per_room
  
  def fit(self, X, y = None):
    return self
  
  def transform(self, X):
    rooms_per_household = X[:, rooms_ix] / X[:, households_ix]
    population_per_household = X[:, population_ix] / X[:, households_ix]
    if self.add_bedrooms_per_room:
      bedrooms_per_room = X[:, bedrooms_ix] / X[:, rooms_ix]
      return np.c_[X, rooms_per_household, population_per_household, bedrooms_per_room]
    else:
      return np.c_[X, rooms_per_household, population_per_household]